<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('header.ejs')%>
	</head>
	<body>
        <div class="d-flex" id="wrapper">
            <!-- sidebar -->
            <%- include('menu.ejs')%>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    </div> 
                </nav>
                <!----------------------------------------------------------------------->
                <div class="container-fluid">
                    <div >
                        <h1 class="mt-4">Welcome, <%= name %></h1>
                        <br/>
                        <p>You are <%=role%></p>
                        <p>Please select menu from the left</p>
                    </div>
                </div>
                <!----------------------------------------------------------------------->
            </div>
        </div>
		<%- include('footer.ejs')%>

        <script src = "/js/bootstrap.bundle.min.js"></script>
        <script src = "/js/scripts.js"></script>
	</body>
</html>

